body {
    background-color:  #000000;
    color: white;
    text-align: center;
    font-family: "JetBrains Mono",monospace;
}

/* Header */
.header {
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-around;  
    height: 60px;
}
h1 {
    margin-top: auto;
    margin-bottom: auto;
}


/* Containers */
.container{
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 50%; 
      
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;    
    
    margin: 5px;
    margin-bottom: 20px;
    
}


/* Forms */
#room {
    overflow: auto;
    height: 500px;
    text-align: left;
}
.texts {   
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    width: 20%;
    margin: 20px;
}




/* Buttons */
.button, .backgroundbutton{  
    font-family: "JetBrains Mono",monospace;
    font-size: medium;
    cursor: pointer;  

    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}
.backgroundbutton{  
    background: #000000;
    color: white;
    border: 1px solid white;
    
    height: 80%;
    align-self: center;
    transition: background-color 0.5s ease-out;
}
.button:hover, .backgroundbutton:hover{
    transform: translateY(-2px);
}



table {
    width: 90%; /* Make the table take up the full width of its container */
    border-collapse: collapse;
    
    margin: auto;
  }

  .tablecontainer { 
    width: 90%; /* Make the table take up the full width of its container */
    box-shadow: rgba(99, 99, 99, 0.2) 5px 5px 8px 3px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50px;
    
  }
  
  td {
    padding: 5px; /* Add padding to the table cells for spacing */
    min-width: 50%;
    
  }
  tr:nth-child(even){
    border-bottom: 0.5px solid rgba(99, 99, 99, 0.2); 
    border-top: 0.5px solid rgba(99, 99, 99, 0.2); 
  }